//COLORS
$color-primary: #53d9ed;
$color-primary-light: #b6ebf3;
$color-primary-dark: #3035d9;
$color-secondary: #158005;
$color-black: black;
$color-white: white;
$color-grey-dark: #777;

//FONT
$default-font-size: 3.2rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;